@use '../helpers' as *;

.badge {
  display: inline-flex;
  padding: fluid(4, 2) fluid(14, 10);
  font-size: rem(16);
  color: var(--color-light);
  background:
    linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box,
    linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%) border-box;
  border: 1px solid transparent;
  border-radius: 6px;

  @include laptop {
    font-size: rem(14);
    border-radius: 4px;
  }
}