@use '../helpers' as *;

.tile {
  padding: fluid(40, 24);
  background-color: var(--color-dark-10);
  border: var(--border);
  border-radius: 12px;

  @include laptop {
    border-radius: 10px;
  }
}